@model IEnumerable<HUEVOSFESTIVAL.DAL.Tbl_Category>
@{

        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Categoria....<h5><font color="green"><span>@DateTime.Today.ToLongDateString()</span></font></h5>
        <a href="../Categoria/AgregarCategoria" class="btn btn-info pull-right fa fa-plus">Nueva Categoria</a>
    </div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Habilitado</th>
                    <th>Operaciones</th>
                </tr>
            </thead>

            <tbody>
               @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.NombreCategoria</td>
                        <td>@item.BHABILITADO</td>
                        <td>
                            @Html.ActionLink("Editar", "EditarCategoria", new { idref = item.CategoryId })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
</div>
